@model DataBase_RH_BanderaBlanca.Models.permisos_sistema

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>permisos_sistema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Detalle_Permiso_Sistema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle_Permiso_Sistema)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPermisos_Sistema }) |
    @Html.ActionLink("Back to List", "Index")
</p>
